<h1><%= @movie.title %>'s Page</h1>
<img src = <%= @movie.img_url %> alt = "#{@movie.title}'s poster" width = "300" height = "450"><br>
<em>Rating: <%= @movie.average_rating %>/10</em><br><br>

<h2>Description:</h2>
<p><%= @movie.description %></p>
<em><%= @movie.runtime %> min</em><br><br>

<h2>Cast</h2>
<% @movie.roles.each do |role| %>
<p><a href="<%= actor_path(role.actor) %>"><img src= <%= role.actor.img_url %> alt= "<%= role.actor.name %> actor poster" width = "40" height = "60" > </a>
<%= link_to "#{role.actor.name}", actor_path(role.actor) %> - <%= link_to "#{role.name}", role_path(role) %></p>
<% end %>

<h2>Reviews!<h2>
  <% @movie.reviews.each do |r| %>
    <p><a href= "<%= user_path(r.user) %>"><img src= <%= r.user.img_url %> alt = "#{r.user.username}'s profile picture" width = "50" height = "50"></a>
    <%= link_to r.user.username, user_path(r.user) %> says: "<%= r.content %>" - <%= r.rating %>/10</p><br>
  <% end %>


  
<br><br>


<h2><%= link_to "Click Here to Return to Main Movies Page", movies_path %></h2><br>


