<ul>

  <li><a href="<% user_path(@current_user) %>">My Account</a></li>
  <li><a href="/movies">Movies</a></li>
<ul>

<h1><%= @user.username %>'s Page</h1>
<img src= <%= @user.img_url %> alt= "#{@user.username}'s profile picture" height = "150" width = "150"><br>
<em>Age: <%= @user.age %></em><div><br><br>
<p>Total Number of Reviews: <%= @user.review_count %></p><br>
<h3>Here Are Your Reviews!</h3>
<% @user.reviews.each do |r| %>
  <p><%= link_to "#{r.movie.title} - \"#{r.content}\" - #{r.rating}/10", review_path(r) %></p>
<% end %>
<br>
<% if session[:user_id] == @user.id %>
  <h2><%= link_to "Click Here to Edit Your Account", edit_user_path(@user) %><h2>
<% end %>
<h2><%= link_to "Click Here to Movies Page", movies_path %><h2>



  <br><br>
<% if @current_user %>
<h4> logged in as <%= @current_user.username %> </h4>
<% end %>

<%= form_tag sessions_path do %> 
<%= submit_tag "Log out" %> <br><br>
<% end %>
