<h1><%= @user.username %>'s Page</h1>
<img src= <%= @user.img_url %> alt= "#{@user.username}'s profile picture" height = "150" width = "150"><br>
<em>Age: <%= @user.age %></em><div><br><br>
<p>Total Number of Reviews: <%= @user.review_count %></p><br>
<h3>Here Are Your Reviews!</h3>
<% @user.reviews.each do |r| %>
  <p><%= link_to "#{r.movie.title} - \"#{r.content}\" - #{r.rating}/10", review_path(r) %></p>
<% end %>
<br>
<h2><%= link_to "Click Here to Edit Your Account", edit_user_path(@user) %><h2>
<h2><%= link_to "Click Here to Return to Movies", movies_path %><h2>
