<h1>Please Enter Your Update Review/Rating</h1>
<%= form_for @review do |r| %>
  <%= r.label :content %>
  <%= r.text_field :content %><br>
  <%= r.label :rating %>
  <%= r.text_field :rating %><br>
  <%= r.submit %>
<% end %>

<% if @current_user %>
<h4> logged in as <%= @current_user.username %> </h4>
<% end %>

<%= form_tag sessions_path do %> 
<%= submit_tag "Log out" %> <br><br>
<% end %>