
<h1>Here Is The Review For <%= @review.movie.title %></h1><br>
<h3><%= "#{@review.content} - #{@review.rating}/10" %><h3>
<br>

<br>

<% if session[:user_id] == @review.user.id %>
  <%= button_to "Edit Review/Rating", edit_review_path(@review), :method => "get" %>
  <%= button_to "Delete Review", review_path(@review), :method => "delete" %><br>
<% end %>

<br><br>
<h2><%= link_to "Click Here To Return To All Movies", movies_path %><h2>

<% if @current_user %>
<h4> logged in as <%= link_to @current_user.username, user_path(@review.user) %> </h4>
<% end %>

<%= form_tag sessions_path do %> 
<%= submit_tag "Log out" %> <br><br>
<% end %>
